<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routine Management System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css">
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
</head>
<body>
    <nav>
        <a href="{% url 'generate_timetable' %}">Generate Timetable</a>
        <a href="{% url 'view_timetable' %}">View Timetable</a>
        <a href="{% url 'allocate_teacher' %}">Allocate Teachers</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>